@model MTCV.Models.ENTITY.Education
@{
    ViewBag.Title = "EducationAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form method="post">
    <br />
    <h2> Yeni Eğitim Ekleme Sayfası</h2>
    <br />
    @Html.Label("ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.HEAD, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x=>x.HEAD,"",new { @style="color:red"})*@
    <br />
    @Html.Label("Alt Başlık")
    @Html.TextBoxFor(x => x.SUBHEAD, new { @class = "form-control" })
    <br />
    @Html.Label("Alt Başlık 2")
    @Html.TextBoxFor(x => x.SUBHEAD2, new { @class = "form-control" })
    <br />
    @Html.Label("GNO")
    @Html.TextBoxFor(x => x.GNO, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.DATE, new { @class = "form-control" })
    <br />
    @Html.Label("Fotoğraf")
    @Html.TextBoxFor(x => x.PHOTOURL, new { @class = "form-control" })
    <br />
    <button class=" btn btn-info">Eğitim Ekle</button>
</form>


