@using MTCV.Models.ENTITY
@model List<Education>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>EĞİTİM LİSTESİ</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Alt Başlık 1</th>
        <th>Alt Başlık 2</th>
        <th>GNO</th>
        <th>Tarih</th>
        <th>Fotoğraf</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.HEAD</td>
            <td>@item.SUBHEAD</td>
            <td>@item.SUBHEAD2</td>
            <td>@item.GNO</td>
            <td>@item.DATE</td>
            <td>@item.PHOTOURL</td>
            <td><a class="btn btn-danger" href="/Education/EducationRemove/@item.ID">Sil</a></td>
            <td><a class="btn btn-success" href="/Education/EducationUpdate/@item.ID">Düzenle</a></td>
        </tr>
    }
</table>
<br />
<a href="/Education/EducationAdd/" class="btn btn-info">Yeni Eğitim Bilgisi  Ekle</a>

