@model MTCV.Models.ENTITY.Skill
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <br />
    <h2>  Yetenek Güncelleme Sayfası</h2>
    <br />
    @Html.Label("ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    @Html.Label("Yetenek")
    @Html.TextBoxFor(x => x.SKILL, new { @class = "form-control" })
    <br />
    @Html.Label("Oran")
    @Html.TextBoxFor(x => x.Oran, new { @class = "form-control" })
    <br />
    <button class=" btn btn-info">Yetenek Güncelle</button>
</form>


